.pagination{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;;
  
  *{
    opacity: 0.5;
  }

  button{
    background-color: unset;
    box-shadow: unset;
    color: var(--text-color);
    font-size: 1.2em;

    &:not(:disabled):active{
      background-color: #ccc;
    }
  }

  .pagination_attribute{
    display: inline-flex;
    max-width: 40px;
    margin: 0 10px;
  }

  &:hover *{
    opacity: 1;
  }
}