@import '../../mixins';

div[data-id="l4ejrcs3"]{
  position: relative;
  height: 40px;
  width: calc(100% - 22px);
  max-width: 600px;
  min-width: 300px;
  border-radius: 8px;
  border: solid 1px;
  margin: 10px;
  border-color: var(--accent-color);
  color: var(--accent-color);
  
  input,label,textarea{
    font-size: 16px;
    // max-width: 300px !important;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    @include flex-center;
    justify-content: flex-start;
    padding: 0 10px !important;
    z-index: 0;
    color: inherit;
    box-sizing: border-box;

    img{
      height: 100%;
    }
  }

  input,textarea{
    z-index: 1;
    box-sizing: border-box;
    border: none;
    margin: 0 !important;
    background-color: inherit;

    &:not([type=file]){
      &:not(:placeholder-shown),
      &:focus{
        &+label{
          font-size: 12px;
          top: -12px;
          left: 20px;
          width: fit-content;
          height: fit-content;
          background-color: var(--accent-color);
          color: var(--accent-text-color);
          padding: 2px 5px !important;
        }
      }
    }

    &::placeholder{
      color: transparent;
    }

    &[type=file]{
      opacity: 0;
    }

    &:focus{
      outline: none;
    }
  }

  textarea{
    z-index: 1;
    padding: 10px !important;
    min-width: 300px;
    min-height: 100px;

    &:not(:placeholder-shown),
    &:focus{
      &+label{
        z-index: 0;
      }
    }

    &+label{
      z-index: -1;
      height: 100%;
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
      z-index: 1;
      pointer-events: none;
    }
  }
}