{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "html-tag-js/jsx/jsx-to-tag.js",
    "html-tag-js/jsx/syntax-parser.js",
    [
      "@babel/transform-runtime",
      {
        "regenerator": true
      }
    ]
  ],
  "compact": false
}