/*!**************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/main.scss ***!
  \**************************************************************************************************************************************************/
:root {
  --text-color: #365; }

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: solid 1px var(--text-color); }
  header nav {
    padding: 0 10px; }
    header nav a {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      text-decoration: none;
      color: #666;
      margin-right: 10px;
      border-radius: 4px;
      height: 30px;
      padding: 0 10px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      header nav a:hover {
        background-color: rgba(0, 0, 0, 0.2); }
  header .logo {
    background-image: url(/quickpage-logo.png);
    font-size: 2rem;
    height: 3rem;
    padding: 0.5rem;
    line-height: 3rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -87px; }

