/*!**************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./app/main.scss ***!
  \**************************************************************************************************************************************************/
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--primary);
  color: var(--primary-text);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--secondary);
  color: var(--secondary-text);
  border-bottom: var(--border);
}
header nav {
  padding: 0 10px;
}
header nav a {
  color: var(--secondary-text);
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: inline-flex;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 4px;
  height: 30px;
  padding: 0 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
}
header nav a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
header .logo {
  background-image: url(/quickpage-logo.png);
  font-size: 2rem;
  height: 3rem;
  padding: 0.5rem;
  line-height: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -87px;
}
