body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--primary);
  color: var(--primary-text);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--secondary);
  color: var(--secondary-text);
  border-bottom: var(--border);

  nav {
    padding: 0 10px;

    a {
      color: var(--secondary-text);
      display: inline-flex;
      text-decoration: none;
      margin-right: 10px;
      border-radius: 4px;
      height: 30px;
      padding: 0 10px;
      align-items: center;

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.2);
      }
    }
  }

  .logo {
    background-image: url(res/quickpage-logo.png);
    font-size: 2rem;
    height: 3rem;
    padding: 0.5rem;
    line-height: 3rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -87px;
  }
}
