#home {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .counter {
    margin: 20px;
  }

  button {
    border-radius: 4px;
    height: 40px;
    width: 120px;
    border: none;
    background-color: var(--button-color);
    color: var(--button-text-color);
    text-transform: uppercase;
    box-shadow: 2px 2px 4px 0 rgba($color: #000000, $alpha: 0.5);

    &:hover {
      background-color: var(--button-active-color);
      color: var(--button-active-text-color);
    }

    &:active {
      box-shadow: 0 0 4px 0 rgba($color: #000000, $alpha: 0.5);
    }
  }
}
