#home {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .counter {
    margin: 20px;
  }

  button {
    border-radius: 4px;
    height: 40px;
    width: 120px;
    border: none;
    background: var(--button-background);
    color: var(--button-text);
    text-transform: uppercase;
    box-shadow: 2px 2px 4px 0 rgba($color: #000000, $alpha: 0.5);

    &:hover {
      background: var(--button-hover);
    }

    &:active {
      transition: all 100ms ease;
      transform: scale(0.9);
    }
  }
}
