<div class="message" id="prompt-box">
  <textarea id="prompt-input" cols="1"></textarea>
  <span class="error"></span>
</div>
<div class="button-container">
  <button action="ok">OK</button>
  <button action="cancel">Cancel</button>
</div>