@import "../../../mixins.scss";

.dialog {

  .message,
  .body {
    overflow: hidden !important;
  }

  .message {
    @include flex-center;
    justify-content: flex-start;
  }

  .loader-animation {
    display: block;
    height: 50px;
    width: 50px;
    border: solid 6px transparent;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 0 0 0 4px #39f inset, 0 0 0 8px #f93 inset, 0 0 0 10px #39f inset;

    animation: loader-animation-rotate 3s linear infinite;
  }

  @keyframes loader-animation-rotate {
    0% {
      transform: rotate(0deg) translateZ(0);
      box-shadow: 0 0 0 4px #39f inset, 0 0 0 8px #f93 inset, 0 0 0 10px #39f inset;
    }

    50% {
      box-shadow: 0 0 0 4px #f93 inset, 0 0 0 8px #39f inset, 0 0 0 10px #f93 inset;
    }

    100% {
      transform: rotate(360deg) translateZ(0);
      box-shadow: 0 0 0 4px #39f inset, 0 0 0 8px #f93 inset, 0 0 0 10px #39f inset;
    }
  }
}