<div class="message">
  <span class="loader-animation"></span>
  <span>{{message}}</span>
</div>
{{#cancelable}}
<div class="button-container">
  <button action="cancel">Cancel</button>
</div>
{{/cancelable}}