<div id="{{id}}" class="dialog">
  <span class="mask"></span>
  <div class="box {{position}}">
    {{#title}}<header>
      <h1 class="title">{{.}}</h1>
    </header>{{/title}}
    <div class="body">{{{body}}}</div>
  </div>
</div>