<div id="{{id}}" class="dialog">
  <span class="mask"></span>
  <div class="box {{position}}">
    <header>
      <span class="title">{{title}}</span>
    </header>
    <div class="body">{{{body}}}</div>
  </div>
</div>